USE [master]
GO
/****** Object:  Database [JadeDentalSupply]    Script Date: 01/02/2026 20:11:46 ******/
CREATE DATABASE [JadeDentalSupply]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JadeDentalSupply', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\JadeDentalSupply.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JadeDentalSupply_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\JadeDentalSupply_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JadeDentalSupply].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JadeDentalSupply]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[CustomerType] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryLog]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[TransactionType] [varchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[PreviousStock] [int] NULL,
	[NewStock] [int] NULL,
	[SupplierID] [int] NULL,
	[UserID] [int] NOT NULL,
	[Reference] [varchar](100) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ImageType] [nvarchar](10) NULL,
	[ImageData] [varbinary](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Unit] [nvarchar](20) NULL,
	[CurrentStock] [int] NULL,
	[ReorderLevel] [int] NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[HasExpiry] [bit] NULL,
	[ExpiryDate] [date] NULL,
	[SupplierID] [int] NULL,
	[IsActive] [bit] NULL,
	[Created] [datetime] NULL,
	[WholesalePrice] [decimal](18, 2) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleItems]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleItems](
	[SaleItemID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[SubTotal]  AS ([Quantity]*[UnitPrice]),
PRIMARY KEY CLUSTERED 
(
	[SaleItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[SaleNumber]  AS ('SALE'+right('00000'+CONVERT([nvarchar](10),[SaleID]),(5))) PERSISTED,
	[SaleDate] [datetime] NULL,
	[CustomerID] [int] NULL,
	[CustomerName] [nvarchar](200) NULL,
	[UserID] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[AmountPaid] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[IsVoid] [bit] NULL,
	[Reference] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierCode] [nvarchar](50) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[UserRole] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductImages_Product]    Script Date: 01/02/2026 20:11:46 ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_Product] ON [dbo].[ProductImages]
(
	[ProductID] ASC,
	[ImageType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('Dentist') FOR [CustomerType]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InventoryLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ('thumb') FOR [ImageType]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('PCS') FOR [Unit]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((10)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [HasExpiry]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((0)) FOR [AmountPaid]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ('Cash') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((0)) FOR [IsVoid]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Staff') FOR [UserRole]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[InventoryLog]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLog_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[InventoryLog] CHECK CONSTRAINT [FK_InventoryLog_Product]
GO
ALTER TABLE [dbo].[InventoryLog]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLog_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[InventoryLog] CHECK CONSTRAINT [FK_InventoryLog_Supplier]
GO
ALTER TABLE [dbo].[InventoryLog]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLog_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InventoryLog] CHECK CONSTRAINT [FK_InventoryLog_User]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SaleID])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InventoryLog]  WITH CHECK ADD  CONSTRAINT [CHK_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InventoryLog] CHECK CONSTRAINT [CHK_Quantity]
GO
ALTER TABLE [dbo].[InventoryLog]  WITH CHECK ADD CHECK  (([TransactionType]='ADJUST' OR [TransactionType]='OUT' OR [TransactionType]='IN'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInventoryLog]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. GET INVENTORY LOG (For reports)
CREATE PROCEDURE [dbo].[sp_GetInventoryLog]
    @StartDate DATE = NULL,
    @EndDate DATE = NULL,
    @ProductID INT = NULL,
    @LogType NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @StartDate IS NULL SET @StartDate = DATEADD(DAY, -30, GETDATE());
    IF @EndDate IS NULL SET @EndDate = GETDATE();
    
    SELECT 
        il.LogID,
        il.LogDate,
        il.LogType,
        il.SourceType,
        il.SourceReference,
        il.DestinationType,
        il.DestinationReference,
        p.ProductCode,
        p.Barcode,
        p.ProductName,
        il.Quantity,
        CASE 
            WHEN il.Quantity > 0 THEN 'IN'
            WHEN il.Quantity < 0 THEN 'OUT'
            ELSE 'NONE'
        END as Movement,
        ABS(il.Quantity) as AbsoluteQuantity,
        il.UnitCost,
        il.Notes,
        u.FullName as PerformedBy,
        p.CurrentStock as CurrentStockAfter
    FROM InventoryLog il
    INNER JOIN Products p ON il.ProductID = p.ProductID
    INNER JOIN Users u ON il.UserID = u.UserID
    WHERE il.LogDate BETWEEN @StartDate AND DATEADD(DAY, 1, @EndDate)
    AND (@ProductID IS NULL OR il.ProductID = @ProductID)
    AND (@LogType IS NULL OR il.LogType = @LogType)
    ORDER BY il.LogDate DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ScanProduct]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. SCAN PRODUCT (For POS)
CREATE PROCEDURE [dbo].[sp_ScanProduct]
    @Barcode NVARCHAR(100)
AS
BEGIN
    SELECT 
        ProductID,
        ProductCode,
        Barcode,
        ProductName,
        Category,
        CurrentStock,
        Unit,
        SellingPrice,
        CostPrice,
        HasExpiry,
        ExpiryDate,
        CASE 
            WHEN CurrentStock <= 0 THEN 'OUT_OF_STOCK'
            WHEN CurrentStock <= ReorderLevel THEN 'LOW_STOCK'
            ELSE 'IN_STOCK'
        END as StockStatus
    FROM Products
    WHERE Barcode = @Barcode AND IsActive = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_StockIn]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================== STORED PROCEDURES ====================

-- 1. STOCK IN PROCEDURE (Only for Admin/Manager)
CREATE PROCEDURE [dbo].[sp_StockIn]
    @ProductID INT,
    @Quantity INT,
    @SourceType NVARCHAR(50), -- SUPPLIER, RETURN, etc.
    @SourceReference NVARCHAR(100) = NULL,
    @UnitCost DECIMAL(18,2) = NULL,
    @Notes NVARCHAR(500) = NULL,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check if user is Admin or Manager
    DECLARE @UserRole NVARCHAR(20);
    SELECT @UserRole = UserRole FROM Users WHERE UserID = @UserID;
    
    IF @UserRole NOT IN ('Admin', 'Manager')
    BEGIN
        RAISERROR('Only Admin or Manager can add stock.', 16, 1);
        RETURN;
    END
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Add to Inventory Log (STOCK_IN)
        INSERT INTO InventoryLog (
            LogType, 
            SourceType, 
            SourceReference, 
            ProductID, 
            Quantity, 
            UnitCost,
            Notes,
            UserID
        )
        VALUES (
            'STOCK_IN',
            @SourceType,
            @SourceReference,
            @ProductID,
            @Quantity,
            @UnitCost,
            @Notes,
            @UserID
        );
        
        -- Update product expiry if provided in notes
        IF @Notes LIKE '%expir%' AND CHARINDEX('202', @Notes) > 0
        BEGIN
            -- Extract expiry date from notes (simple example)
            UPDATE Products 
            SET ExpiryDate = DATEADD(MONTH, 12, GETDATE()) -- Example logic
            WHERE ProductID = @ProductID AND HasExpiry = 1;
        END
        
        COMMIT TRANSACTION;
        
        SELECT 
            'SUCCESS' as Status,
            'Stock added successfully' as Message,
            @Quantity as QuantityAdded,
            (SELECT CurrentStock FROM Products WHERE ProductID = @ProductID) as NewStock
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_StockOut]    Script Date: 01/02/2026 20:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. STOCK OUT PROCEDURE (For non-sale removals - Admin/Manager only)
CREATE PROCEDURE [dbo].[sp_StockOut]
    @ProductID INT,
    @Quantity INT,
    @DestinationType NVARCHAR(50), -- DAMAGE, EXPIRED, SAMPLE, LOST
    @Reason NVARCHAR(200),
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check if user is Admin or Manager
    DECLARE @UserRole NVARCHAR(20);
    SELECT @UserRole = UserRole FROM Users WHERE UserID = @UserID;
    
    IF @UserRole NOT IN ('Admin', 'Manager')
    BEGIN
        RAISERROR('Only Admin or Manager can remove stock.', 16, 1);
        RETURN;
    END
    
    -- Check if enough stock
    DECLARE @CurrentStock INT;
    SELECT @CurrentStock = CurrentStock FROM Products WHERE ProductID = @ProductID;
    
    IF @CurrentStock < @Quantity
    BEGIN
        RAISERROR('Insufficient stock. Available: %d', 16, 1, @CurrentStock);
        RETURN;
    END
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Add to Inventory Log (STOCK_OUT)
        INSERT INTO InventoryLog (
            LogType, 
            DestinationType, 
            ProductID, 
            Quantity, 
            Notes,
            UserID
        )
        VALUES (
            'STOCK_OUT',
            @DestinationType,
            @ProductID,
            -@Quantity, -- Negative for OUT
            @Reason,
            @UserID
        );
        
        COMMIT TRANSACTION;
        
        SELECT 
            'SUCCESS' as Status,
            'Stock removed successfully' as Message,
            @Quantity as QuantityRemoved,
            (SELECT CurrentStock FROM Products WHERE ProductID = @ProductID) as NewStock
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
USE [master]
GO
