<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="JadeDentalConnection"
			 connectionString="Data Source=|DataDirectory|\App_Data\JadeDentalSupply.db;Cache=Shared;"
			 providerName="Microsoft.Data.Sqlite" />
	</connectionStrings>

	<appSettings>
		<add key="NodeRole" value="AdminServer" />
		<add key="AdminMachineName" value="DANIELLE" />
		<add key="IsFirstRun" value="false" />
		<add key="ApplicationMode" value="Production" />
		<add key="DatabaseLocation" value="SQLite" />
		<add key="UpdatePath" value="" />
		<add key="SupabaseConnectionString" value="" />
	</appSettings>
</configuration>
