<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- EMPTY - Will be set on first run -->
		<add name="JadeDentalConnection"
			 connectionString=""
         providerName="Microsoft.Data.SqlClient" />  <!-- CHANGED HERE -->
	</connectionStrings>

	<appSettings>
		<!-- For first-run configuration -->
		<add key="IsFirstRun" value="true" />
		<add key="ServerIP" value="" />
		<add key="ComputerName" value="" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
